body {background: #ffc8dd

}
main {
text-align: center;
background: #ffc8dd
}
#slogan{
    font-size: 25px;
}
.capa{
    width: 90%;
    height: 80%;
}
.conteudo{
    background: rgb(254, 217, 223);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(50, 2, 54);
    
}
.beneficios {
    background-color:#fcaac8 ;
    display: inline-block;
}
ul{
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}
li{
 padding: 10px;
 margin: 10px;
}
.foto-beneficio {
    width : 50% ;
    text-align: right;
    padding: 10px;
}

